/* Colors:
#5680e9
#84ceeb
#5ab9ea
#c1c8e4
#8860d0
*/

:root {
  --appbar-height: 7vh;
  --main-window-height: calc(100vh - var(--appbar-height));
  --subtotal-bar-height: calc(40px + 2vh);
}

.App {
  /* text-align: center; */
  /* background-color: #5ebbff; */
  background-color: white;
  min-height: 100vh;  /* Take up full height of screen */
}

.appHeader {
  /* background-color: #282c34; */
  height: var(--appbar-height);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#rightPane {
  float: right;
  box-sizing: border-box;
  width: calc(200px + 10%);
  height: var(--main-window-height);
  background-color: white;
  border-left: 1px solid #9e9e9e;
}

#orderButtonsGroup {
  /* background-color: white; */
  height: calc(var(--main-window-height) - var(--subtotal-bar-height) - 25px);
  overflow: auto;
  margin-bottom: 20px;
}

#checkoutButton {
  max-height: calc(var(--subtotal-bar-height) + 5px);
}

#leftPane {
  background-color: #84ceeb;
  /* background-color: #e2e2e2; */
  float: right;
  box-sizing: border-box;
  width: calc(90% - 200px);
  height: var(--main-window-height);  /* Since appHeader takes up 6vh */
}

#checkoutItemsList {
  box-sizing: border-box;
  height: calc(var(--main-window-height) - var(--subtotal-bar-height));
  overflow: auto;
}

#subtotalBar {
  /* background-color: #5680e9; */
  background-color: #8860d9;
  box-sizing: border-box;
  height: var(--subtotal-bar-height);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-right: 20px;
}